/* .underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

 TABS

h3.inactive {
  color: #cccccc;
}

h3.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

.center {
  display: flex;
  background-color: #f8f9fa;
  justify-content: center;
  height: 100vh;
}

.center mat-card {
  align-self: center;
} */
